/barcode4j-*.jar
/esapi-*.jar
/fop-*.jar
/freemarker-*.jar
/guava-*.jar
/httpclient-*.jar
/httpcore-*.jar
/httpunit-*.jar
/icu4j-*.jar
/jackson-*.jar
/javolution-*.jar
/jdom-*.jar
/juel-impl-*.jar
/juel-spi-*.jar
/junit-dep-*.jar
/log4j-1.2-api-*.jar
/log4j-api-*.jar
/log4j-core-*.jar
/log4j-nosql-*.jar
/log4j-slf4j-impl-*.jar
/mail-*.jar
/nekohtml-*.jar
/owasp-java-html-sanitizer-*.jar
/slf4j-api-*.jar
/ws-commons-java5-*.jar
/ws-commons-util-*.jar
/xalan-*.jar
/xercesImpl-*.jar
/xml-apis-*.jar
/xmlgraphics-commons-*.jar
/xmlrpc-*.jar
/xpp3-*.jar
/xstream-*.jar
/joda-time-*.jar
/avalon-framework-*.jar
/sitemapgen4j-*.jar
/tika-*.jar
