/aopalliance-1.0.jar
/commons-lang3-3.6.jar
/commons-math3-3.6.1.jar
/guice-4.1.0.jar
/guice-assistedinject-4.1.0.jar
/iban4j-3.2.1.jar
/javassist-3.21.0-GA.jar
/javax.inject-1.jar
/jfairy-0.5.9.jar
/reflections-0.9.11.jar
/snakeyaml-1.18.jar
