# default git smart EOL handling for any unlisted types
* text=auto

# explicit EOL handling 
# SCIPIO: based on combination of apache, ofbiz and other project svn auto-props
*.ai binary
*.apt text
*.as text
*.bat text eol=crlf
*.bsh text
*.builder text
*.cat text
*.classpath text
*.cmd text eol=crlf
*.cnd text
*.coffee text
*.conf text
*.cpp text
*.css text
*.css.map text
*.c text
*.csv text
*.dbf binary
*.doc binary
*.docx binary
*.dot binary
*.dsld text
*.dsp text eol=crlf
*.dsw text eol=crlf
*.dtd text
*.editorconfig text
*.eot binary
*.eps binary
*.erb text
*.exe binary
*.ftl text
*.gdsl text
*.gif binary
*.gml text
*.groovy text
*.gz binary
*.handlers text
*.h text
*.htaccess text
*.htc text
*.html text
*.htm text
*.ico binary
*.inc text
*.info text
*.install text
*.jar binary
*.java text
*.jks binary
*.jmx text eol=lf
*.jpeg binary
*.jpg binary
*.json text
*.json5 text
*.jsp text
*.js text
*.jsx text
*.jshintrc text
*.ldif text
*.less text
*.log text
*.log text
*.map text
*.markdown text
*.mdo text
*.md text
*.mdtext text
*.MF text
*.mid binary
*.mif binary
*.mp3 binary
*.module text
*.ms text
*.m text
*.mxml text
*.npmignore text
*.nroff text
*.nuspec text
*.otf binary
*.patch text
*.pdf binary
*.php5 text
*.php text
*.pl text
*.pm text
*.png binary
*.project text
*.properties text
*.pro text
*.ps1 text
*.pyc binary
*.py text
*.rake text
*.rb text
*.rhtml text
*.rst text
*.sass text
*.scala text
*.schemas text
*.scss text
*.settings text
*.sgml text
*.shp binary
*.sh text eol=lf
*.shx binary
*.sln text eol=crlf
*.sln.cache text eol=crlf
*.sld text
*.sql text
*.svg binary
*.svg.1 binary
*.swc binary
*.swf binary
*.sxc binary
*.sxi binary
*.sxw binary
*.tar binary
*.tgz binary
*.tiff binary
*.tif binary
*.tld text
*.tpl text
*.ts text
*.tsv text
*.ttf binary
*.txt text
*.utf binary
*.woff binary
*.woff2 binary
*.wsdl text
*.xcf binary
*.xml text
*.xml.bak text
*.xpm text
*.xsd text
*.xsl text
*.xslt text
*.xtest text
*.yaml text
*.yml text
*.zip binary
abs-linkmap text
abs-menulinks text
ant text eol=lf
AUTHORS text
Changelog text
ChangeLog text
CHANGELOG text
ChangeLog text
Copying text
COPYING text
.gitattributes text
.gitkeep text
.gitignore text
.htaccess text
ij.ofbiz* text eol=lf
Install text
INSTALL text
.jshintignore text
.jshintrc text
.jscsrc text
.csslintrc text
.eslintignore text
.eslintrc text
.mailmap text
KEYS text
Licence text
LICENCE text
License text
*.LICENSE text
LICENSE* text
Makefile text
NOTICE* text
Rakefile text
rc.ofbiz* text eol=lf
Readme text
ReadMe text
README* text
readme text
UPGRADING text
Gemfile text
Gemfile.lock text
.bowerrc text
.fontcustom-data text
.versions text
CONTRIBUTING text
vl2png text
vl2svg text
vl2vg text
