/antlr4-runtime-*.jar
/asm-*.jar
/asm-commons-*.jar
/avatica-core-*.jar
/caffeine-*.jar
/calcite-core-*.jar
/calcite-linq4j-*.jar
/commons-cli-*.jar
/commons-codec-*.jar
/commons-collections-*.jar
/commons-compiler-*.jar
/commons-configuration-*.jar
/commons-exec-*.jar
/commons-fileupload-*.jar
/commons-io-*.jar
/commons-lang-*.jar
/commons-math3-*.jar
/curator-client-*.jar
/curator-framework-*.jar
/curator-recipes-*.jar
/dom4j-*.jar
/eigenbase-properties-*.jar
/guava-*.jar
/hadoop-annotations-*.jar
/hadoop-auth-*.jar
/hadoop-common-*.jar
/hadoop-hdfs-*.jar
/hppc-*.jar
/htrace-core-*.jar
/httpclient-*.jar
/httpcore-*.jar
/httpmime-*.jar
/jackson-annotations-*.jar
/jackson-core-*.jar
/jackson-core-asl-*.jar
/jackson-databind-*.jar
/jackson-dataformat-smile-*.jar
/jackson-mapper-asl-*.jar
/janino-*.jar
/joda-time-*.jar
/lucene-analyzers-common-*.jar
/lucene-analyzers-kuromoji-*.jar
/lucene-analyzers-phonetic-*.jar
/lucene-backward-codecs-*.jar
/lucene-classification-*.jar
/lucene-codecs-*.jar
/lucene-core-*.jar
/lucene-expressions-*.jar
/lucene-grouping-*.jar
/lucene-highlighter-*.jar
/lucene-join-*.jar
/lucene-memory-*.jar
/lucene-misc-*.jar
/lucene-queries-*.jar
/lucene-queryparser-*.jar
/lucene-sandbox-*.jar
/lucene-spatial-extras-*.jar
/lucene-suggest-*.jar
/noggit-*.jar
/protobuf-java-*.jar
/solr-core-*.jar
/solr-solrj-*.jar
/spatial4j-*.jar
/stax2-api-*.jar
/t-digest-*.jar
/woodstox-core-asl-*.jar
/zookeeper-*.jar
