/antlr4-*.jar
/asm-*.jar
/commons-*.jar
/concurrentlinkedhashmap-lru-*.jar
/dom4j-*.jar
/guava-*.jar
/hadoop-*.jar
/hppc-*.jar
/htrace-core-*.jar
/httpclient-*.jar
/httpcore-*.jar
/httpmime-*.jar
/jackson-*.jar
/joda-time-*.jar
/lucene-*.jar
/noggit-*.jar
/protobuf-java-*.jar
/solr-*.jar
/spatial4j-*.jar
/stax2-api-*.jar
/t-digest-*.jar
/woodstox-core-asl-*.jar
/zookeeper-*.jar
