<?xml version="1.0"?>

<!--
This file is subject to the terms and conditions defined in
 file 'LICENSE', which is part of this source code package.
-->

<web-app version="3.0">
    <display-name>Apache OFBiz - Web Tools Dummy for Redirect</display-name>
    <description>Common Application Components of the Apache OFBiz Project</description>

    <filter>
        <display-name>SimpleRedirectFilter</display-name>
        <filter-name>SimpleRedirectFilter</filter-name>
        <filter-class>org.ofbiz.webapp.control.SimpleRedirectFilter</filter-class>
        <init-param>
            <param-name>matchPattern</param-name>
            <param-value>^/webtools$</param-value>
        </init-param>
        <init-param>
            <description>If true, matches full path with query string (WARN: currently not URL-decoded); 
                if false, matches only context path</description>
            <param-name>matchFullPath</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>replacement</param-name>
            <param-value>/admin</param-value>
        </init-param>
        <init-param>
            <param-name>usePermanentRedirect</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
   
    <filter-mapping>
        <filter-name>SimpleRedirectFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
   
    <session-config>
        <session-timeout>1</session-timeout> <!-- in minutes -->
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
