/* GRID */
$include-html-reveal-classes: $include-html-classes;
body {}

input,select,text-area {max-width:50em;}

.fullWidth {
    width: 100%;
    /*max-width: 85em;*/
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
}

.v-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row.display .columns:nth-child(even), .row.display .columns.small-centered, .row.display .columns.large-centered {
  background: #e1e1e1;
}


/* NAVIGATION */
  

.sidebar {
    margin-top:0px;
    background: #FAFAFA;
    padding: 10px; 

    form {padding:0px;}

    input[type="search"]:focus {
        box-shadow: 0 0 0 !important; }
}


.sub-top-bar {@include sub-nav(); 
    margin-top:8px;
    
    dt a, dd a, li a {
        background-color: $ghost;
        color: $primary-color;
        border-radius: $button-radius;
    }
}

/* CONTENT */
#content-main-section{
    padding-top:32px;
    padding-bottom:32px;
}

#content-main-body {
    width:100%;
    min-height: 100%;
    position: relative;
}

h1 {
    margin-bottom:1rem;
}

// Using the default styles
input[type="button"], input[type="submit"],.buttontext  { @include button; @include button-size($padding:$button-tny); }

// tables
table.basic-table {
    width: 100%;
    tr{
        background: none;
        
        td {
            height:auto;
            vertical-align: top;
        }
    }
    tr.even {}
    tr.odd {background: $ghost;}
    
    input {margin:0px;}
            
}

.reveal-modal {
  @include reveal-modal-style(
    $top-offset:rem-calc(200)
  );
}

.login-box {
  margin: 200px 0;
  padding:0px;
  min-width: 500px;
  
  #login-box-title {
      
    h1 {

    }
  }
  
  #login-box-content {
      margin-top:20px;
      padding: 40px 20px 0 20px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
      border: 1px solid #fafafa;
      background: #fff;
  }
}

@media (max-width:610px) {
    .login-box  {position:static; width:100%;margin-left:0;padding:10px;margin-top:50px;}
}

.inline-list {
    li {margin-bottom:10px;}

}

td {word-break:break-all;}
// don't break button labels; always ugly
td button, td .button, td input[type="button"], td input[type="submit"], td .buttontext {word-break:normal;}

// collapsible fieldset
.toggleField fieldset{
    border:none;
    color: $primary-color;
    margin:10px 0px;
    padding:8px 0px;
}
fieldset {
    border:none;
    
    legend{
        padding:0px;
        margin:0px;
        text-align:right;
        background:none;
    }
    
    legend:hover{
        color: scale-color($primary-color, $lightness: -14%);
        cursor: pointer;
    }
}


.collapsed{
    display:inline-block;
}

.rotate-90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode: tb-rl;
    }

.rotate-180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    writing-mode: tb-rl;
    }

.rotate-270{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: tb-rl;
    }

pre {
    /* original is white background with no border */
    background-color: #fff;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
    padding: 4px;
    color: #333;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px;
}

pre, code {
}

code {
    margin:0px;
    padding:0px;
    border:none;
    background:none;
    .INFO {color:$oil;}
    .DEBUG {}
    .WARN {color:$warning-color;}
    .ERROR {color:$alert-color;}
    .FATAL {color:$alert-color;font-weight:bold;}
    .TRACE {color:$aluminum;}
}


.postfix input[type="submit"], .postfix button, {
        background: $input-prefix-bg;
        border-color: $input-prefix-border-color;
        border-size: $input-prefix-border-size;
        border-type: $input-prefix-border-type;
        color: $input-prefix-font-color;
        padding-left:0px;
        padding-right:0px;
        font-family: 'foundation-icons', 'FontAwesome', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size:1.2rem;
}

.postfix i {font-size:1.2rem;}

.postfix .fi {
    font-family: 'foundation-icons', 'FontAwesome', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1.2rem;
    line-height:0.9rem;
}

ul {
    &.chart-legend{
        list-style:none;
    }
}

div.section-screenlet {
    //margin-bottom: 10px;
}
div.section-screenlet-content {
    // add to this one so margin can combine with content's margins
    margin-bottom: 0.5rem;
}
// note: browsers don't support :blank, so if content may be empty, 
// template must make sure to not output extra whitespace, or use no-content class
div.section-screenlet-content:empty, div.section-screenlet-content.no-content {
    margin-bottom: 0;
}
// FIXME?: the two below are a complicated version of this; margin on this div won't 
// collapse/combine with title margin so can't use as-is; maybe can collapse some other way
//div.section-screenlet-container {
//    margin-top: 0.2rem;
//}
// slight margin when no title, about same as h2
div.section-screenlet-container.no-title, div.section-screenlet-content.no-title.no-menu {
    margin-top: 0.2rem;
}
// apply as close to first elem as possible
div.section-screenlet-container.no-title.no-menu {
    margin-top: 0;
}

/*  FOOTER */
#body-content {
  min-height: 100%;
  margin-bottom: -26px; 
} 

#body-content:after {
  content: "";
  display: block;
}

#body-content:after, #footer{
  height: 26px;
}
 
#footer {
  background: $oil;
  color: $smoke;
  width: 100%;
}

/*MISC*/
$pie-color: $primary-color; // chart-color

.progress{
    .meter{
        transition-duration: 3s;    //CSS3 progress bar animation
    }
}

.button-group .text-entry {
  padding-left:1em; padding-right:1em;
}

.form-field-label-asterisk {
}
.form-field-input-asterisk {
  display: none;
}

// Medium devices

@media #{$medium-only} { 
    input,select,text-area {max-width:100%;}
}

// Medium devices
@media #{$small-only} {
    input,select,text-area {max-width:100%;}
    
    .login-box {
      min-width: 0;
      }
}
