@import "sass-to-js";
$chartMap: (
  fillColor: rgba($primary-color,.3),
  strokeColor: rgba($primary-color,.7),
  pointColor: $white,
  pointStrokeColor: rgba($primary-color,.7),
  pointHighlightFill: $ghost,
  pointHighlightStroke: $base,
  pointDot : true,
  pointHitDetectionRadius : 5,
  pointDotRadius : 3,
  pointDotStrokeWidth : 1,
  scaleLineColor: "rgba(0,0,0,.1)",
  scaleFontFamily: $body-font-family,
  scaleFontSize: 14,
  scaleFontColor: $body-font-color,
  scaleShowLabels: true,
  scaleShowLine : true,
  angleShowLineOut : true,
  scaleBeginAtZero : true,
  showTooltips: true,
  tooltipFillColor: "rgba(0,0,0,0.8)",
  tooltipFontSize: 14,
  tooltipFontColor: $white,
  tooltipFontStyle : "normal",
  tooltipFontFamily: $body-font-family,
  tooltipTitleFontFamily: $body-font-family,
  tooltipTitleFontSize: 14,
  tooltipTitleFontStyle: $font-weight-bold,
  tooltipTitleFontColor: $white,
  tooltipYPadding: 6,
  tooltipXPadding: 6,
  tooltipCaretSize: 2,
  tooltipCornerRadius: 2,
  datasetFill: true,
  bezierCurve:true,
  bezierCurveTension : 0.3,
  color: #F7464A,
  highlight : #FF5A5E,
  dataLabels: false
);

.chart-data{
  &:before{
    content: sassToJs($chartMap);
    display: none;
  }
}