<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    <display-name>Open For Business - EcomCato Component</display-name>
    <description>EcomCato Component of the Open For Business Project</description>

    <context-param>
        <description>A unique ID used to look up the WebSite entity</description>
        <param-name>webSiteId</param-name>
        <param-value>WebStoreCato</param-value>
    </context-param>
    <context-param>
        <description>A unique name used to identify/recognize the local dispatcher for the Service Engine</description>
        <param-name>localDispatcherName</param-name>
        <param-value>ecommerce</param-value>
    </context-param>
    <context-param>
        <description>The Name of the Entity Delegator to use, defined in entityengine.xml</description>
        <param-name>entityDelegatorName</param-name>
        <param-value>default</param-value>
    </context-param>
    <context-param>
        <description>The location of the main-decorator screen to use for this webapp; referred to as a context variable in screen def XML files.</description>
        <param-name>mainDecoratorLocation</param-name>
        <param-value>component://ecommerce/widget/CommonScreens.xml</param-value>
    </context-param>
    <context-param>
        <description>
            Forces the JSESSIONID cookie to be sent via http rather https, helps prevent lost sessions in web apps that
            frequently switch between http and https.
        </description>
        <param-name>forceHttpSession</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <description>Enable widget boundary comments. See org.ofbiz.widget.ModelWidget.widgetBoundaryCommentsEnabled().</description>
        <param-name>widgetVerbose</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <description>Remove unnecessary whitespace from HTML output.</description>
        <param-name>compressHTML</param-name>
        <param-value>false</param-value>
    </context-param>
    
    <!-- Cato: Cato parameters -->
    <context-param>
        <description>If true, Cato always sets browser no-cache response for all CMS page renders through its view handler (default: false)</description>
        <param-name>catoSetResponseBrowserNoCacheCmsPage</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>If true, Cato always sets browser no-cache response for all non-CMS screen renders that go through its view handler,
            whether Cato targets, fallbacks or pass-throughs (default: false)</description>
        <param-name>catoSetResponseBrowserNoCacheScreen</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>If true, the Cato filter always sets browser no-cache response for all webapp requests, whether Cato-related or not,
            through view handler or not; provided mainly as convenience for development purposes (default: false)</description>
        <param-name>catoSetResponseBrowserNoCache</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>If true, any controller view rendered through the Cato screen view handler that does not resolve to a CMS page
            through any mapping will result in a default CMS page being rendered (catoDefaultCmsPageReqPath); if false, any such controller view will instead 
            trigger rendering of its associated Ofbiz screen as defined in the controller, using the regular Ofbiz screen view handler (default: false)</description>
        <param-name>catoUseDefaultCmsPage</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>Request path/URI of the CMS page to use as default CMS page when catoUseDefaultCmsPage is true (default: none; 
            must be specified if catoUseDefaultCmsPage true; format example: /catoDemo/demo-error)</description>
        <param-name>catoDefaultCmsPageReqPath</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <description>Default (control) servlet path for any situation where one is implied (default: /control)</description>
        <param-name>catoDefaultServletPath</param-name>
        <param-value>/control</param-value>
    </context-param>
    <context-param>
        <description>Default source (control) servlet path for any mappings that do not specify it and are set to match against one (default: value of catoDefaultServletPath or /control)</description>
        <param-name>catoDefaultSourceServletPath</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <description>Default forward (control) servlet path for any mappings that do not specify it and are set to forward with one (default: value of catoDefaultServletPath or /control)</description>
        <param-name>catoDefaultForwardServletPath</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <description>Default target (control) servlet path for any mappings that do not specify it (default: value of catoDefaultServletPath or /control)</description>
        <param-name>catoDefaultTargetServletPath</param-name>
        <param-value></param-value> 
    </context-param>
        <description>If true, process mapping forwards where mappings do not specify a forwardPath will use
            defaultForwardServletPath context-param instead of the mapping's targetServletPath (default: false)</description>
        <context-param>
        <param-name>catoAlwaysUseDefaultForwardServletPath</param-name>
        <param-value>false</param-value>
    </context-param>  
    <context-param>
        <description>If true, process mappings source path matches that are only partial will append
            the trailing portion of the URI that did not match to the forwarded path; does not 
            include or affect parameters (default: true)</description>
        <param-name>catoDefaultForwardExtraPathInfo</param-name>
        <param-value>true</param-value>
    </context-param>    
    <context-param>
        <description>If true, by default (for any mappings where not explicitly specified) process mapping source
            paths match from context root; otherwise by default the default source servlet path is prepended to the
            source path and the result is matched (default: true)</description>
        <param-name>catoDefaultSourceFromContextRoot</param-name>
        <param-value>true</param-value>
    </context-param>    
    <context-param>
        <description>If true, by default (for any mappings where not explicitly specified) process mappings forward paths
            will be used as-is when forwarding, i.e. from context root; otherwise by default the default forward servlet
            path is prepended to the forward path prior to the forward. Note this has no effect on process mappings
            that fall back on target(Servlet)Path as default, i.e. when forwardPath empty (default: true)</description>
        <param-name>catoDefaultForwardFromContextRoot</param-name>
        <param-value>true</param-value>
    </context-param>

    <filter>
        <display-name>CatalogUrlFilter</display-name>
        <filter-name>CatalogUrlFilter</filter-name>
        <filter-class>org.ofbiz.product.category.CatalogUrlFilter</filter-class>
        <init-param><param-name>defaultLocaleString</param-name><param-value>en_US</param-value></init-param>
    </filter>
    <filter>
        <display-name>ContentUrlFilter</display-name>
        <filter-name>ContentUrlFilter</filter-name>
        <filter-class>org.ofbiz.content.content.ContentUrlFilter</filter-class>
        <init-param>
            <param-name>defaultLocaleString</param-name>
            <param-value>en_US</param-value>
        </init-param>
        <init-param><param-name>viewRequest</param-name><param-value>ViewBlogArticle</param-value></init-param>
    </filter>
    
    <!-- Cato: Process filter -->
    <filter>
        <display-name>CatoProcessFilter</display-name>
        <filter-name>CatoProcessFilter</filter-name>
        <filter-class>com.ilscipio.cato.control.CatoProcessFilter</filter-class>         
    </filter>  
    
    <filter>
        <display-name>ContextFilter</display-name>
        <filter-name>ContextFilter</filter-name>
        <filter-class>org.ofbiz.webapp.control.ContextFilter</filter-class>
        <init-param>
            <param-name>disableContextSecurity</param-name>
            <param-value>N</param-value>
        </init-param>
        <init-param>
            <param-name>allowedPaths</param-name>
            <param-value>/error:/control:/products:/select:/index.html:/index.jsp:/robots.txt:/default.html:/default.jsp:/images</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CatalogUrlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ContentUrlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- Cato: Process filter mapping -->
    <filter-mapping>
        <filter-name>CatoProcessFilter</filter-name>
        <url-pattern>/*</url-pattern>   
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>ContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <!-- Cato: Need dispatchers -->
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>

    <listener><listener-class>org.ofbiz.webapp.control.ControlEventListener</listener-class></listener>
    <!-- NOTE: not all app servers support mounting implementations of the HttpSessionActivationListener interface -->
    <!-- <listener><listener-class>org.ofbiz.webapp.control.ControlActivationEventListener</listener-class></listener> -->

    <!-- this listener will save any abandoned cart info -->
    <listener><listener-class>org.ofbiz.order.shoppingcart.CartEventListener</listener-class></listener>
    <!-- this listener will clean up info -->
    <listener><listener-class>org.ofbiz.webapp.control.LoginEventListener</listener-class></listener>

    <servlet>
        <description>Main Control Servlet</description>
        <display-name>ControlServlet</display-name>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>org.ofbiz.webapp.control.ControlServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- un-comment for Worldpay
    <servlet>
        <description>WorldPay Select Handler Service</description>
        <display-name>SelectHandler</display-name>
        <servlet-name>select</servlet-name>
        <servlet-class>com.worldpay.select.merchant.SelectHandler</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    -->
    <servlet>
        <description>Catalog (Category/Product) URL Servlet</description>
        <display-name>CatalogUrlServlet</display-name>
        <servlet-name>CatalogUrlServlet</servlet-name>
        <servlet-class>org.ofbiz.product.category.CatalogUrlServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControlServlet</servlet-name>
        <url-pattern>/control/*</url-pattern>
    </servlet-mapping>
    <!-- un-comment for Worldpay
    <servlet-mapping>
        <servlet-name>select</servlet-name>
        <url-pattern>/select/*</url-pattern>
    </servlet-mapping>
    -->
    <servlet-mapping>
        <servlet-name>CatalogUrlServlet</servlet-name>
        <url-pattern>/products/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
</web-app>