/* GRID */
$include-html-reveal-classes: $include-html-classes;
body {}

input,select,text-area {max-width:50em;}

.fullWidth {
    width: 100%;
    /*max-width: 85em;*/
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
}

.v-center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row.display .columns:nth-child(even), .row.display .columns.small-centered, .row.display .columns.large-centered {
  background: #e1e1e1;
}

// Fix margin on rows
.row {
    .row {
        margin-bottom:2em;        
        .row {
                    margin-bottom:0px;
        }
    }
}

/* NAVIGATION */
  

.sidebar {
    margin-top:0px;
    background: #FAFAFA;
    padding: 10px; 

    form {padding:0px;}

    input[type="search"]:focus {
        box-shadow: 0 0 0 !important; }
}


.sub-top-bar {@include sub-nav(); 
    margin-top:8px;
    
    dt a, dd a, li a {
        background-color: $ghost;
        color: $primary-color;
        border-radius: $button-radius;
    }
}

/* CONTENT */
#content-main-section{
    padding-top:32px;
    padding-bottom:32px;
}

#content-main-body {
    width:100%;
    min-height: 100%;
    position: relative;
}

h1 {
    margin-bottom:1rem;
}

// Using the default styles
input[type="button"], input[type="submit"],.buttontext  { @include button; @include button-size($padding:$button-tny); }

// tables
table.basic-table {
    width: 100%;
    tr{
        background: none;
        
        td {
            height:auto;
            vertical-align: top;
        }
    }
    tr.even {}
    tr.odd {background: $ghost;}
    
    input {margin:0px;}
            
}

.reveal-modal {
  @include reveal-modal-style(
    $top-offset:rem-calc(200)
  );
}

.login-box {
  margin: 200px 0;
  padding:0px;
  min-width: 500px;
  
  #login-box-title {
      
    h1 {

    }
  }
  
  #login-box-content {
      margin-top:20px;
      padding: 40px 20px 0 20px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
      -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
      -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
      border: 1px solid #fafafa;
      background: #fff;
  }
}

@media (max-width:610px) {
    .login-box  {position:static; width:100%;margin-left:0;padding:10px;margin-top:50px;}
}

.inline-list {
    li {margin-bottom:10px;}

}

td {word-break:normal;}
td.button-col {word-break:normal;}
// don't break button labels; always ugly
td button, td .button, td input[type="button"], td input[type="submit"], td .buttontext {word-break:normal;}

// collapsible fieldset
.toggleField fieldset{
    border:none;
    color: $primary-color;
    margin:10px 0px;
    padding:8px 0px;
}
fieldset {
    border:none;
    padding-left: 0px;
    padding-right: 0px;
    
    legend{
        padding:0px;
        margin:0px;
        text-align:right;
        background:none;
    }
    
    legend:hover{
        color: scale-color($primary-color, $lightness: -14%);
        cursor: pointer;
    }
}


.collapsed{
    display:inline-block;
}

.rotate-90{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode: tb-rl;
    }

.rotate-180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    writing-mode: tb-rl;
    }

.rotate-270{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: tb-rl;
    }

pre {
    /* original is white background with no border */
    background-color: #fff;
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
    padding: 4px;
    color: #333;
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px;
}

pre, code {
}

code {
    margin:0px;
    padding:0px;
    border:none;
    background:none;
    .INFO {color:$oil;}
    .DEBUG {}
    .WARN {color:$warning-color;}
    .ERROR {color:$alert-color;}
    .FATAL {color:$alert-color;font-weight:bold;}
    .TRACE {color:$aluminum;}
}


.postfix input[type="submit"], .postfix button, {
        background: $input-prefix-bg;
        border-color: $input-prefix-border-color;
        border-size: $input-prefix-border-size;
        border-type: $input-prefix-border-type;
        color: $input-prefix-font-color;
        padding-left:0px;
        padding-right:0px;
        font-family: 'foundation-icons', 'FontAwesome', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size:1.2rem;
}

.postfix i {font-size:1.2rem;}

.postfix .fi {
    font-family: 'foundation-icons', 'FontAwesome', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1.2rem;
    line-height:0.9rem;
}

ul {
    &.chart-legend{
        list-style:none;
    }
}

div.section-screenlet {
    //margin-bottom: 10px;
}
div.section-screenlet-content {
    // add to this one so margin can combine with content's margins
    margin-bottom: 0.5rem;
}
// note: browsers don't support :blank, so if content may be empty, 
// template must make sure to not output extra whitespace, or use no-content class
div.section-screenlet-content:empty, div.section-screenlet-content.no-content {
    margin-bottom: 0;
}
// FIXME?: the two below are a complicated version of this; margin on this div won't 
// collapse/combine with title margin so can't use as-is; maybe can collapse some other way
//div.section-screenlet-container {
//    margin-top: 0.2rem;
//}
// slight margin when no title, about same as h2
div.section-screenlet-container.no-title, div.section-screenlet-content.no-title.no-menu {
    margin-top: 0.2rem;
}
// apply as close to first elem as possible
div.section-screenlet-container.no-title.no-menu {
    margin-top: 0;
}

/*  FOOTER */
#body-content {
  min-height: 100%;
  margin-bottom: -26px; 
} 

#body-content:after {
  content: "";
  display: block;
}

#body-content:after, #footer{
  height: 26px;
}
 
#footer {
  background: $oil;
  color: $smoke;
  width: 100%;
}

/*MISC*/
$pie-color: $primary-color; // chart-color

.progress{
    .meter{
        transition-duration: 3s;    //CSS3 progress bar animation
    }
}

.button-group .text-entry {
  padding-left:1em; padding-right:1em;
}

/* no longer needed for now
.form-field-label-asterisk {
}
.form-field-input-asterisk {
  display: none;
}
*/

// Medium devices

@media #{$medium-only} { 
    input,select,text-area {max-width:100%;}
}

// Medium devices
@media #{$small-only} {
    input,select,text-area {max-width:100%;}
    
    .login-box {
      min-width: 0;
    }
}


/* FIXUPS */

/* no longer used - quick custom workaround for be able to scroll tables.
div.scrollable-table-container {
  overflow-x: scroll;
  // FIXME: should get same margin as table had, not hardcoded, but doesn't collapse
  margin-bottom: 1.25rem;
}
div.scrollable-table-container > table {
  margin-bottom: 0;
}
*/

// adds a margin to last elem inside "display" type fields, because all other types get a margin
.field-entry-widget.field-entry-type-display:last-child {
  margin-bottom: 1rem;
}

.radio-item-inline.radio-item-separator {
  display:none;
}

.checkbox-item-inline.checkbox-item-separator {
  display:none;
}

// jquery asmselect
.asmListItemRemove {
  margin-left: 1rem;
}

// Removes large bottom margin from buttons in data tables because take too much space when they go vertical. 
table.table-data-common .button {
  margin-bottom:0.1rem;
}
/*table .button {
  margin-bottom:0.1rem;
}*/



/* GENERAL ELEMENT COLORS */

.colored-elem.primary, .colored-elem { color:$primary-color; }
.colored-elem.secondary { color:$secondary-color; }
.colored-elem.info { color:$info-color; }
.colored-elem.success { color:$success-color; }
.colored-elem.warning { color:$warning-color; }
.colored-elem.alert { color:$alert-color; }


/* TEXT COLORS */

.colored-text.primary, .colored-text { color:$primary-color; }
.colored-text.secondary { color:$secondary-color; }
.colored-text.info { color:$info-color; }
.colored-text.success { color:$success-color; }
.colored-text.warning { color:$warning-color; }
.colored-text.alert { color:$alert-color; }


/* ACTION (LINK) STYLES */

/* 2016-01-18: DEV NOTE: colors here are not final style choices, only demos of things that can be done for action links. 
  not all links and menu items have the appropriate classes yet, but many do. 
  the most important is probably to have a different visual indication for .action-run.action-scope-sys.action-modify (see below) so that
  actions that modify state of system are made clear to user. In stock ofbiz these are ambiguous and easily confused with nav links.
  note that system- vs session- vs page- changing actions can be styled separately. */

/* individual nav creation links and nav creation links in menu items (i.e., that link to a page with creation form)
  NOTE: scope is usually not set on nav links, but in 99% of cases it's implied sys scope, or is not really meaningful to navigation */
.action-nav.action-modify.action-add.button, .action-nav.action-modify.action-add .button {
   @include button-style($bg:$success-button-bg-color, $bg-hover:$success-button-bg-hover, $border-color:$success-button-border-color);
}

/* REMOVED: no need to make this green, looks strange, so only do it for nav version (above); already covered by action-modify style further below
 individual run/submit creation links and run creation links in menu items (i.e., the submit button on the form) 
.action-run.action-scope-sys.action-modify.action-add.button, .action-run.action-scope-sys.action-modify.action-add .button {
   @include button-style($bg:$success-button-bg-color, $bg-hover:$success-button-bg-hover, $border-color:$success-button-border-color);
}
*/

/* "continue" session action buttons (if any for sys scope, will get different color below, to indicate changes are made permanent) */
.action-run.action-scope-session.action-modify.action-continue.button, .action-run.action-scope-session.action-modify.action-continue .button {
   @include button-style($bg:$success-button-bg-color, $bg-hover:$success-button-bg-hover, $border-color:$success-button-border-color);
}

/* terminate actions (like cancel order) */
.action-run.action-scope-sys.action-modify.action-terminate.button, .action-run.action-scope-sys.action-modify.action-terminate .button {
   @include button-style($bg:$warning-button-bg-color, $bg-hover:$warning-button-bg-hover, $border-color:$warning-button-border-color);
}


/* individual actions that modify state of system when clicked; should be made clear to user (so don't confuse with nav links and other links and accidentally change system) 
  FIXME?: this should have an emphasis, but not sure if "info" color is appropriate... */
.action-run.action-scope-sys.action-modify.button, .action-run.action-scope-sys.action-modify .button {
   @include button-style($bg:$info-button-bg-color, $bg-hover:$info-button-bg-hover, $border-color:$info-button-border-color);
}

/* individual actions that modify only session or local state 
  FIXME?: should use different color from system? removed for now...
.action-run.action-scope-session.action-modify.button, .action-run.action-scope-session.action-modify .button,
.action-run.action-scope-local.action-modify.button, .action-run.action-scope-local.action-modify .button, {
   @include button-style($bg:$info-button-bg-color, $bg-hover:$info-button-bg-hover, $border-color:$info-button-border-color);
}*/


/* high-importance modify actions, like create order button */
.action-run.action-scope-sys.action-modify.action-importance-high.button, .action-run.action-scope-sys.action-modify.action-importance-high .button {
   @include button-style($bg:$alert-button-bg-color, $bg-hover:$alert-button-bg-hover, $border-color:$alert-button-border-color);
}


/* special nav cancel/back/return action button (alt regular color) */
.action-nav.action-cancel.button, .action-nav.action-cancel .button {
   @include button-style($bg:$secondary-button-bg-color, $bg-hover:$secondary-button-bg-hover, $border-color:$secondary-button-border-color);
}

/* special run-action cancel action button (warning color) */
.action-run.action-cancel.button, .action-run.action-cancel .button {
   @include button-style($bg:$warning-button-bg-color, $bg-hover:$warning-button-bg-hover, $border-color:$warning-button-border-color);
}


